# exclude everything except directory /tensoflow1/models/ #research/object_detection
/tensorflow1/*
!/tensorflow1/models
/tensorflow1/models/*
!/tensorflow1/models/research
/tensorflow1/models/research/*
!/tensorflow1/models/research/object_detection
*.jpg
*.xml
*.mp4
*.v2
*.tar
*.gz
